/* app css stylesheet */

/* css for sidebar*/

.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  padding: 1px;  
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 1px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: none;
  padding: 0 1px;
  cursor: pointer;
}